bin/
obj/

*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

.vs/

*.log

launchSettings.json

.env

packages/
*.nupkg

*.bak
*.tmp
*.temp
*.cache

Thumbs.db
ehthumbs.db
Desktop.ini

.idea/
*.iml

*.db
